*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --grey: #f3f4f6;
  --white: #ffffff;
  --primary: #0e374f;
  --primary: rgba(120, 14, 14);
  --secondary: rgba(120, 14, 14, 0.07);
}

body {
  font-size: 18px;
  font-family: sans-serif, serif;
  min-height: 100vh;
  padding: 48px;
  background-color: var(--grey);
  min-width: fit-content;
  line-height: 1.2;
}

.body {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.educationCard,
.personalInfoCard {
  background-color: var(--white);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.educationCard .header,
.personalInfoCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.educationForm,
.personalInfoForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.educationBody,
.personalInfoBody {
  margin-top: 8px;
}

.cv {
  width: calc(8 * 96px);
  height: calc(11 * 96px);
  background-color: var(--white);
  flex-shrink: 0;
}

.cv-header {
  background-color: var(--primary);
  color: var(--white);
  padding: 24px;
  width: 100%;
}

.cv-header .name {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 800;
}

.cv-header .info {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 16px;
}

svg {
  cursor: pointer;
}

.education {
  padding: 24px 48px;

  & .header {
    text-align: center;
    margin-bottom: 16px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 4px;
  }

  & .education_entry {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-bottom: 16px;
  }

  & .school {
    font-weight: bold;
  }
}
