*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg,
button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

:root {
  --grey: #f3f4f6;
  --white: #ffffff;
  --primary: #0e374f;
  --primary: rgba(120, 14, 14);
  --secondary: rgba(120, 14, 14, 0.07);
}

body {
  font-size: 18px;
  font-family: sans-serif, serif;
  min-height: 100vh;
  padding: 48px;
  background-color: var(--grey);
  min-width: fit-content;
  line-height: 1.4;
}

.body {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: var(--white);
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 350px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  font-size: 1.2rem;
}

.card input[type='text'],
.card input[type='tel'],
.card input[type='email'] {
  width: 100%;
}

.card_body {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2rem;
}

textarea {
  resize: vertical;
  height: 100px;
}

.card_entry {
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
}

.buttons {
  display: flex;
  margin-top: 8px;
  gap: 4px;
}

.cancel {
  margin-left: auto;
}

.cv {
  width: calc(8 * 96px);
  height: calc(11 * 96px);
  background-color: var(--white);
  flex-shrink: 0;
}

.cv-header {
  background-color: var(--primary);
  color: var(--white);
  padding: 24px;
  width: 100%;
}

.cv-header .name {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 800;
}

.cv-header .info {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 16px;
}

.education,
.work {
  padding: 0px 48px;
  margin: 36px 0px;
}

.cv_header {
  text-align: center;
  margin-bottom: 24px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 4px;
}

.cv_entry {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 16px;
}

.bold {
  font-weight: bold;
}

.description {
  margin-top: 2px;
}
