*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --grey: #f3f4f6;
  --white: #ffffff;
  --dark-blue: #0e374f;
}

body {
  font-size: 18px;
  font-family: sans-serif, serif;
  min-height: 100vh;
  padding: 48px;
  background-color: var(--grey);
  min-width: fit-content;
}

.body {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.educationCard,
.personalInfoCard {
  background-color: var(--white);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.educationCard .header,
.personalInfoCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.educationForm,
.personalInfoForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.educationBody,
.personalInfoBody {
  margin-top: 8px;
}

.cv {
  width: calc(8 * 96px);
  height: calc(11 * 96px);
  background-color: var(--white);
  flex-shrink: 0;
}

.cv-header {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 24px;
  width: 100%;
}

.cv-header .name {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 800;
}

.cv-header .info {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 16px;
}
